<main role="main">
      <div class="text-center container">
          <h1><b>만든 사람들</b></h1>
          <p style="margin-bottom:50px;">시간 2봉지를 만든 멋쟁이사자처럼 회원들입니다.</p>
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <%= image_tag("ma.png", :class => "rounded-circle", width:"200", height:"200", :style =>"margin-bottom:20px;") %>
            <h2><b>이민아</b></h2>
            <h5>아주대학교<br>멋쟁이 사자처럼 6기</h5>
            <p><span style="color:#9ed510">프론트 앤드</span></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <%= image_tag("yw.png", :class => "rounded-circle", width:"200", height:"200", :style =>"margin-bottom:20px;") %>
            <h2><b>강연우</b></h2>
            <h5>덕성여자대학교<br>멋쟁이 사자처럼 6기</h5>
            <p><span style="color:#9ed510">프론트 앤드</span></p>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <%= image_tag("sy.png", :class => "rounded-circle", width:"200", height:"200", :style =>"margin-bottom:20px;") %>
            <h2><b>김세윤</b></h2>
            <h5>서울시립대학교<br>멋쟁이 사자처럼 6기</h5>
            <p><span style="color:#9ed510">작가 & 풀 스택 & 멍꾼</span></p>
            
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        
        
        <div class="row py-5">
          <div class="col-lg-4">
            <%= image_tag("hj.png", :class => "rounded-circle", width:"200", height:"200", :style =>"margin-bottom:20px;") %>
            <h2><b>이혜진</b></h2>
            <h5>동국대학교<br>멋쟁이 사자처럼 6기</h5>
            <p><span style="color:#9ed510">백 앤드</span></p>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <%= image_tag("hs.png", :class => "rounded-circle", width:"200", height:"200", :style =>"margin-bottom:20px;") %>
            <h2><b>한현수</b></h2>
            <h5>성공회대학교<br>멋쟁이 사자처럼 6기</h5>
            <p><span style="color:#9ed510">백 앤드</span></p>
            
          </div><!-- /.col-lg-4 -->
          
          <div class="col-lg-4">
            <%= image_tag("mk.png", :class => "rounded-circle", width:"200", height:"200", :style =>"margin-bottom:20px;") %>
            <h2><b>조민국</b></h2>
            <h5>성공회대학교<br>멋쟁이 사자처럼 5기</h5>
            <p><span style="color:#9ed510">백 앤드</span></p>
            
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>    
</main>

    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">
          <a href="https://www.facebook.com/likelion.net/"><img class="sns" src="http://tamarac.org/ImageRepository/Document?documentID=5678"></a>
          <a href="https://www.instagram.com/explore/tags/%EB%A9%8B%EC%9F%81%EC%9D%B4%EC%82%AC%EC%9E%90%EC%B2%98%EB%9F%BC/?hl=ko"><img class="sns" src="https://images-na.ssl-images-amazon.com/images/I/71VQR1WetdL.png"></a>
        </span><br>
        <span class="text-muted">LikeLion 6th 2018 Newbiethon</span><br>
        <span class="text-muted">가정의달 5팀 이민아 강연우 이혜진 김세윤 한현수 조민국</span>
      </div>
    </footer>